<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>对学生信息增删改查</title>
</head>
<body>
<div id="app">

    <!--    搜索表单-->
    <el-form :inline="true" :model="ruleForm" class="demo-form-inline">
        <el-form-item label="搜索学生学号：">
            <el-input v-model="ruleForm.snum" placeholder="请输入学生学号"></el-input>
        </el-form-item>
        <el-form-item label="搜索学生姓名：">
            <el-input v-model="ruleForm.susername" placeholder="请输入学生姓名"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="dialogVisible2 = true">新增</el-button>
        </el-form-item>
    </el-form>


    <!--    新增表单对话框-->
    <el-dialog
            title="新增页面"
            :visible.sync="dialogVisible2"
            width="30%"
    >
        <el-form :model="ruleForm" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="学号" prop="snum">
                <el-input v-model="ruleForm.snum"></el-input>
            </el-form-item>
            <el-form-item label="姓名" prop="susername">
                <el-input v-model="ruleForm.susername"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="spassword">
                <el-input v-model="ruleForm.spassword"></el-input>
            </el-form-item>
            <el-form-item label="性别" prop="ssex">
                <el-input v-model="ruleForm.ssex"></el-input>
            </el-form-item>
            <el-form-item label="出生日期" prop="sbirth">
                <el-input v-model="ruleForm.sbirth"></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="sphone">
                <el-input v-model="ruleForm.sphone"></el-input>
            </el-form-item>
            <el-form-item label="所选题目编号" prop="soption">
                <el-input v-model="ruleForm.soption"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submit">新增</el-button>
                <el-button type="danger" @click="resetform">重置</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <!--    编辑页面对话框表单-->
    <el-dialog
            title="编辑页面"
            :visible.sync="dialogVisible"
            width="30%"
    >
        <el-form :model="ruleForm" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="学号" prop="snum">
                <el-input v-model="ruleForm.snum"></el-input>
            </el-form-item>
            <el-form-item label="姓名" prop="susername">
                <el-input v-model="ruleForm.susername"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="spassword">
                <el-input v-model="ruleForm.spassword"></el-input>
            </el-form-item>
            <el-form-item label="性别" prop="ssex">
                <el-input v-model="ruleForm.ssex"></el-input>
            </el-form-item>
            <el-form-item label="出生日期" prop="sbirth">
                <el-input v-model="ruleForm.sbirth"></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="sphone">
                <el-input v-model="ruleForm.sphone"></el-input>
            </el-form-item>
            <el-form-item label="所选题目编号" prop="soption">
                <el-input v-model="ruleForm.soption"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm">修改</el-button>
                <el-button type="danger" @click="resetform">重置</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <!--    主页显示表格-->
    <template>
        <el-table
                ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                >
            <el-table-column
                    prop="snum"
                    label="学生学号"
                    align="center">

            </el-table-column>
            <el-table-column
                    prop="susername"
                    label="学生姓名"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="spassword"
                    label="密码"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="ssex"
                    label="性别"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="sbirth"
                    label="出生日期"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="sphone"
                    label="手机号"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="soption"
                    label="所选课程编号"
                    align="center">
            </el-table-column>
            <el-table-column label="操作"
                             align="center">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            type="primary"
                            @click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>
</div>

<script src="../js/vue.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                pageSize: 5,
                totalCount: 30,
                currentPage: 1,
                multipleSelection: [],
                dialogVisible: false,
                dialogVisible2: false,
                ruleForm: {
                    snum: '',
                    susername: '',
                    spassword: '',
                    ssex: '',
                    sbirth: '',
                    sphone: '',
                    soption: ''
                },
                tableData: []
                // selectedIds: []
            }
        },

        mounted() {
            this.selectAllAndCondition();
        },

        methods: {

            clearRuleForm() {
                this.ruleForm.snum = '',
                this.ruleForm.susername = '',
                this.ruleForm.spassword = '',
                this.ruleForm.ssex = '',
                this.ruleForm.sbirth = '',
                this.ruleForm.sphone = '',
                this.ruleForm.soption = ''
            },

            //分页查询
            selectAllAndCondition() {
                axios.post("http://localhost:8080/gsProject/student/selectByPageAndCondition?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize, this.ruleForm).then((resp) => {
                    this.tableData = resp.data.rows;
                    this.totalCount = resp.data.totalCount;
                })
            },


            //分页  Size改变函数
            handleSizeChange(val) { //我们选择的是 ‘5条/页’ 此值就是 5.而我们选择了 `10条/页` 此值就是 10
                // 重新设置每页显示的条数
                this.pageSize = val;
                //调用 selectAll 函数重新分页查询数据
                this.selectAllAndCondition();
            },
            //Page改变
            handleCurrentChange(val) { //val 就是改变后的页码
                // 重新设置当前页码
                this.currentPage = val;
                //调用 selectAll 函数重新分页查询数据
                this.selectAllAndCondition();
            },

            onSubmit() {
                // console.log(this.brand);
                this.selectAllAndCondition();
            },


            //添加数据
            submit() {
                axios.post(`http://localhost:8080/gsProject/student/saveStudent`, this.ruleForm).then((resp) => {
                    if (resp.data.code == "20011") {
                        this.dialogVisible2 = false;
                        this.clearRuleForm();
                        this.selectAllAndCondition();
                        this.$message({
                            message: '添加成功',
                            type: 'success'
                        });
                    }
                })
            },

            //数据回显
            handleEdit(index, row) {
                this.dialogVisible = true;
                axios.get(`http://localhost:8080/gsProject/student/selectById?id=${row.id}`).then((resp) => {
                    this.ruleForm = resp.data.data;
                })
            },

            //根据id删除
            handleDelete(index, row) {
                // 弹出确认提示框
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 发送ajax请求，添加数据
                    axios.get(`http://localhost:8080/gsProject/student/deleteById?id=${row.id}`).then((resp) => {
                        if (resp.data.code == "20021") {
                            //删除成功
                            // 重新查询数据
                            this.selectAllAndCondition();
                            // 弹出消息提示
                            this.$message({
                                message: '恭喜你，删除成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    //用户点击取消按钮
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },


            //更新数据
            submitForm() {
                axios.post(`http://localhost:8080/gsProject/student/updateStudent`, this.ruleForm).then((resp) => {
                    if (resp.data.code == "20031") {
                        this.dialogVisible = false;
                        console.log('我要执行了')
                        this.clearRuleForm();
                        console.log('执行了')
                        this.selectAllAndCondition();
                        this.$message({
                            message: '修改成功',
                            type: 'success'
                        });

                    }
                })
            },
            resetform() {
                this.clearRuleForm();
            }
        }
    })
</script>
</body>
</html>